body {
   background: linear-gradient(
     -45deg,
     #1b1b1b 0%,
     #2b2c2b 100%
   );
}

h1 {
    color: white;
    text-align: left;
    text-shadow: 1px 1px 4px black;
    font-size: 7vw;
    padding-left:2vw;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right:20vw
  
}

.topbar h1 {
  margin: 0;
  color: white;
  font-family:blacksword;
  font-weight: normal;
}

.topbar nav a {
  color: white;
  margin-left: 8vw;
  text-decoration: none;
  font-size:1.9vw;
  font-family:맑은 고딕;

}

.topbar nav a:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-menu {
  font-weight:100;
  text-shadow: 1px 1px 4px black;
  position: absolute;
  top: 0%;
  left: 100%; 
  visibility: hidden;  
  opacity: 0;
  transform: translateX(-12vw);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction:row;
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
 
}
.disappear_on_hover {
  opacity:1;
  transition: opacity 0.2s ease;
  visibility: visible;
}
.dropdown:hover ~ .disappear_on_hover {
  opacity:0;
  visibility: hidden; 
  
}

