html {
  scroll-behavior: smooth;
}
body {
                                                   #DEBUG;
                                                   #border:1px solid red;
   background: linear-gradient(
     -45deg,
     #0D0D0D 0%,
     #1A1A1A 60%,
     #363636 100%
   );
    color: white;
    font-family:맑은 고딕;
}

@media (min-width: 600px) {
  header{
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    width:100%;
    display:flex;
    #-webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  }
  
h1 {
    color: white;
    text-align: left;
    text-shadow: 1px 1px 4px black;
    font-size: 5vw;
    padding-left:2vw;
    
}
.page_title {
    text-align: center;
    padding-left:0vw;
    margin-top:16vh;
    font-size: 4vw;
    }  
  
.topbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  margin-right:5vw
  
}

.topbar h1 {
  margin: 0;
  color: white;
  font-family:blacksword;
  font-weight: normal;
  text-decoration: none;
}
  
.topbar h1 a {
  color: white;
  text-decoration: none;
}
  
.topbar nav a {
  color: white;
  margin-right: 16vw;
  text-decoration: none;
  font-size:1.4vw;
  font-family:맑은 고딕;
}

.topbar nav a:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  font-weight:100;
  text-shadow: 1px 1px 4px black;
  position: absolute;
  top: -70%;
  left: 70%; 
  visibility: hidden;  
  opacity: 0;
  transform: translateX(-12vw);
  transition: opacity 0.3s ease, transform 0.3s ease;
  padding-top:5%;
  padding-bottom:5%;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction:row;
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}
  
.disappear_on_hover {
  opacity:1;
  transition: opacity 0.2s ease;
  visibility: visible;
}
  
.dropdown:hover ~ .disappear_on_hover {
  opacity:0;
  visibility: hidden; 
}

.gallery {
  height: 60%;
  max-width: 90%;
  margin-left:5%;
  margin-right:5%;
  margin-top:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1%;
}
  
.category_select {
  width: 90%;
  height:60%;
  margin-left:5%;
  margin-right:5%;
  margin-top:0%;
  margin-bottom:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  }
  
.category {
    height:100%;
    max-width:33%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
  }
  
.category_title h2 a {
    color: white;
    text-decoration: none;
    font-size:100%;
    font-weight:500;
    font-family:맑은 고딕;  
  }
  
.category_title h2 a:hover {
    text-decoration:underline; 
  }  
.image-description {
    font-weight:10;
  }
  
.category_image{
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
  }
  
.center-img {
  max-height: 100%;
  min-width: 20%;
  border-radius: 10px;
  box-shadow: 1px 1px 4px black;


}

.left-img {
    max-height: 100%;
    width:auto;
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
    transform: skewY(2deg);
  }
  
.right-img {
    max-height: 100%;
    width:auto;
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
    transform: skewY(-2deg);
  }

.center-column {
  border:5px;
  border-color:black;
  aspect-ratio: 1;
  height: 100%;
  gap:2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-row {
  display: flex;
  justify-content: space-between;
  height: auto;
  gap:2%;
}
  
.bottom-row {
  display: flex;
  justify-content: space-between;
  height: auto;
  gap:2%;
  display: none;
  pointer-events: none;
}
  
.half-img {
  height: auto;
  width: 50%;
  border-radius: 10px;
  box-shadow: 1px 1px 4px black; 
}

.bottom-img {
  height:auto;
  width: 100%;
  align-self: center;
  border-radius: 10px;
  box-shadow: 1px 1px 4px black;
  }
  
.about_me_footer {
  text-align: center;
  color: white;
  font-family:맑은 고딕;
  font-size:1.7vw;
  margin-top:2%;
  height:2%;
  opacity: 1;
  transition: opacity 0.4s ease;
  }
  
.about_me_footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  
}  
.about_me {
  padding: 40px;
  margin-top:20%;
  margin-bottom:5%;
}

.about_me_content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;  
  gap: 40px;
}
  
.about_me h2 {
  font-size:4vw;
  font-weight:400;
  margin-bottom:-2%;
}
  
.about_me p {
  font-weight:100;
  font-size:1.5vw;
} 

.profile img {
  width: 25vw;
  border-radius: 10px;
  object-fit: cover;
}

}




/*MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */
/*MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */
/*MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */
/*MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */
/*MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */
/*MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */
/*MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */









@media (max-width: 599px) and (min-width:0px){
  header{
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    width:100%;
    display:flex;
    
    #-webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
                                                   #DEBUG;
                                                   #border:3px solid blue;
  }
  
h1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 4px black;
    font-size: 8vw;
                                                   #DEBUG;
                                                   #border:3px solid red;    
}
.page_title {
    text-align: center;
    padding-left:0vw;
    margin-top:12vh;
    font-size: 10vw;
    }  
  
.topbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  margin-right:5vw
  
}

.topbar h1 {
  margin: 0;
  color: white;
  font-family:blacksword;
  font-weight: normal;
  text-decoration: none;
}
  
.topbar h1 a {
  color: white;
  text-decoration: none;
  
}
  
.topbar nav a {
  color: white;
  margin-right: 7vw;
  text-decoration: none;
  font-size:3vw;
  font-weight:100;
  font-family:맑은 고딕;
}

.topbar nav a:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  font-weight:100;
  text-shadow: 1px 1px 4px black;
  position: absolute;
  top: -70%;
  left: 70%; 
  visibility: hidden;  
  opacity: 0;
  transform: translateX(-12vw);
  transition: opacity 0.3s ease, transform 0.3s ease;
  padding-top:5%;
  padding-bottom:5%;
  display: none;
  pointer-events: none;
}


  
.disappear_on_hover {
  opacity:1;
  transition: opacity 0.2s ease;
  visibility: visible;
  
}
  


.gallery {
  height: auto;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top:18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
                                                   #DEBUG;
                                                   #border:3px solid red;
}
  
.category_select {
  width: 80%;
  height:40%;
  margin-left:10%;
  margin-right:1%;
  margin-top:0%;
  margin-bottom:100%;
  display: flex;
  justify-content: center;
  
  align-items: center;
  gap: 4%;
  }
  
.category {
    height:80%;
    width:28vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  
.category_title h2 a {
    color: white;
    text-decoration: none;
    font-size:80%;
    font-weight:500;
    font-family:맑은 고딕;  
  }
  
.category_title h2 a:hover {
    text-decoration:underline; 
  }
  
.image-description {
    font-weight:10;
  }
  
.category_image{
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
  }
  
.center-img {
  max-height: 100%;
  min-width: 20%;
  border-radius: 10px;
  box-shadow: 1px 1px 4px black;


}

.left-img {
    max-height: 100%;
    width:auto;
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
    display: none;
    pointer-events: none;
  }
  
.right-img {
    max-height: 100%;
    width:auto;
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
    display: none;
    pointer-events: none;
  }

.center-column {
  border:5px;
  border-color:black;
  aspect-ratio: 1;
  height: auto;
  width:100%;
  gap:2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-row {
  display: flex;
  justify-content: space-between;
  height: auto;
  gap:2%;
}
  
.bottom-row {
  display: flex;
  justify-content: space-between;
  height: auto;
  width:100%;
  gap:2%;
  margin-top:2%;
}
.half-img {
  height: auto;
  width: 50%;
  border-radius: 10px;
  box-shadow: 1px 1px 4px black; 
}

.bottom-img {
  height:auto;
  width: 100%;
  align-self: center;
  border-radius: 10px;
  box-shadow: 1px 1px 4px black;
  }
  
.about_me_footer {
  text-align: center;
  color: white;
  font-family:맑은 고딕;
  font-size:1.7vw;
  margin-top:2%;
  height:2%;
  opacity: 1;
  transition: opacity 0.4s ease;
  }
  
.about_me_footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: none;
  pointer-events: none;
}  
.about_me {
  padding: 20px;
  margin-top:0%;
  margin-bottom:5%;
}

.about_me_content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center; 
  flex-direction:column;
  gap: 40px;
  margin-bottom:30%;
}
  
.about_me h2 {
  font-size:4vw;
  font-weight:400;
  margin-bottom:-2%;
}
  
.about_me p {
  font-weight:100;
  font-size:3.5vw;
} 

.profile img {
  width: 60vw;
  border-radius: 10px;

}

}
 
